name: Build Wheel

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4


      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v16

      - name: Setup Magic Nix Cache
        uses: DeterminateSystems/magic-nix-cache-action@v8

      - name: Build Wheel
        run: make wheel_devenv

      - name: Rename Wheel
        run: |
          cd dist
          for file in *.whl; do
            mv "$file" "${file%.whl}-${{ steps.vars.outputs.sha_short }}.whl"
          done

      - name: Upload to GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: build-${{ steps.vars.outputs.sha_short }}
          name: Build ${{ steps.vars.outputs.date }} (${{ steps.vars.outputs.sha_short }})
          files: dist/*.whl
          draft: false
          prerelease: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}